
@{
    ViewBag.Title = "Registration";
}
<div class="container">
    <h2>Members Form</h2>
        <div class="modal-body">
                    <form>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="radio1">
                                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Excom Members
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="radio2">
                                <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Members
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input type="text" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Enter First Name">

                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="form-control" id="lastname" placeholder="lastname">
                        </div>

                        <div class="form-group">
                            <label for="Member">Membership No:</label>
                            <input type="number" class="form-control" id="Member" placeholder="Membership No">
                        </div>

                        <div class="form-group row">
                            <label for="example-date-input" class="col-2 col-form-label">Date</label>
                            <div class="col-12">
                                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">File input</label>
                                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Images input</label>
                                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">

                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>


</div>