@model IEnumerable<Dao.Entities.User>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <hr>
    <h2>Members</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="~/ProfilePic/@item.ProfilePicUrl" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            @Html.ActionLink(@item.FirstName + " " + item.LastName, "MemberDetails", new { memberId = item.MembershipId })
                        </h4>                       
                        <p class="card-text">@Html.DisplayFor(modelItem => item.MembershipId)</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


